#clock {
	position: relative;

}

#hour {
	/*transform: rotate(45deg);*/
}

#minute {
	/*transform: rotate(45deg);*/
}

#second {
	/*transform: rotate(45deg);*/
	z-index: 1;
}

#clock img {
	position: absolute;
}